.form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  &-field__wrapper {
      width: 100%;
  }
  &-field__item {
    display: block;
    text-align: center;
    margin-top: 15px
  }
  &-field--text {
      font-size: 30px;
      padding: 20px 30px;
      color: #000;
      border: none;
      outline: none;
      width: 100%;
      background-image: linear-gradient(to bottom left, #1fc8db, #2cb5e8);
  }
  &-field--textarea {
    background: rgba(0, 0, 0, 0.05);
    font-size: 14px;
    padding: 10px 15px;
    color: #000;
    width: 100%;
    border: none;
    resize: none;
    min-height: 200px;
    outline: none;
  }
}
.form-field--textarea {
    background: rgba(0, 0, 0, 0.05);
    font-size: 14px;
    padding: 10px 15px;
    color: #000;
    width: 100%;
    border: none;
    resize: none;
    min-height: 200px;
    outline: none;
}
