.navigation {
  width: 20%;
  background-image: linear-gradient(to bottom left, #ece4ff, #cce8f3);

  &__list {
    list-style: none;
    padding: 0 25px;
    margin: 20px 0;
  }

  &__list-item {
     padding: 10px 15px;
     a {
       color: #191919;
       text-decoration: none;
       font-size: 16px;
       font-weight: bolder;
       &.active, &:hover {
         color: #2b8bef;
       }
     }
  }
}

.screen {
  background-color: #fafafa;
  width: 80%;
}
