.selected-note {
  &__wrapper {
    width: 70%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    min-height: 75vh;
    background-image: linear-gradient(to bottom left, #c9e4d0, #b7ecef);
  }

  &__actions {
    position: absolute;
    right: 30px;
  }

  &__title {
    font-size: 45px;
  }

  &__desc {
    font-size: 14px;
  }

  &__time {
    font-size: 12px;
    color: #aaa;
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}
