.sort-list {
  margin: 20px;
  float: right;
  &__link {
    margin: 0 20px;
  }
}

.notes {
   &-wrapper {
     clear: both;
   }
   &-list {
    display: flex;
    padding: 0;
    margin: 20px;
    list-style: none;
    flex-wrap: wrap;
    position: relative;
    &__link {
      text-decoration: none;
    }
    &__item {
      width: 33%;
      &-wrapper {
        margin: 25px;
        padding: 15px 25px;
        height: 150px;
        position: relative;
        border-radius: 5px;
        background: #a9e0b5;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.19), 0 6px 13px rgba(0, 0, 0, 0.23);
        &:hover {
          box-shadow: 0 14px 40px rgba(0, 0, 0, 0.25), 0 0px 20px rgba(0, 0, 0, 0.22);
          transform: scale(1.05);
        }
      }
      &:nth-child(5n) {
        .notes-list__item-wrapper {
          background: #ece4ff;
        }
      }
      &:nth-child(5n+1) {
        .notes-list__item-wrapper {
          background: #a9e0b5;
        }
      }
      &:nth-child(5n+2) {
        .notes-list__item-wrapper {
          background: #cce8f3;
        }
      }
      &:nth-child(5n+3) {
        .notes-list__item-wrapper {
          background: #dcf9b6;
        }
      }
      &:nth-child(5n+4) {
        .notes-list__item-wrapper {
          background: #f9bfb6;
        }
      }
    }
    &__title {
      font-size: 16px;
      color: #000;
      font-weight: bolder;
    }
    &__desc {
      font-size: 14px;
      color: #000;
      overflow: hidden;
    	position: relative;
    	line-height: 1.2em;
    	max-height: 2.4em;
    	text-align: justify;
    	margin-right: -1em;
    	padding-right: 1em;
      background: inherit;
      &:before {
        content: '...';
      	position: absolute;
      	right: 0;
      	bottom: 0;
      }
      &:after {
        content: '';
      	position: absolute;
      	right: 0;
      	width: 1em;
      	height: 1em;
      	margin-top: 0.2em;
      	background: inherit;
      }
    }
    &__time {
      position: absolute;
      bottom: 20px;
      right: 25px;
      color: #000;
      font-size: 11px;
    }
  }
}
