@import "components/navigation";
@import "components/createNote";
@import "components/notesList";
@import "components/note";

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.app-conatiner {
  display: flex;
  min-height: 100%;
}

.btn--primary {
  color: #fff;
  background: #2b8bef;
  border-radius: 25px;
  padding: 15px 20px;
  font-size: 12px;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  min-width: 50px;
  text-align: center;
  &:hover {
    box-shadow: 0 0px 0px rgba(0,0,0,0.19), 0 5px 15px rgba(0,0,0,0.23);
  }
}
